body {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#bio h2 {
    color: green;
}

article {
    display: flex;
    align-items: center;
}

#wrapper {
    display:flex;
    flex-direction: column;
    padding-left: 30px;
}